{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/style.css' %}" class="rel">
    <title>application django</title>
</head>
<body>
    <div class="clique transitive hidden-main ">
        <i class="ligne"></i><i class="ligne"></i><i class="ligne"></i>
    </div>
    <nav class="nav-bar transitive hidden-responsive">
        <li> <a href="{% url 'home'  %}"> Accueil</a></li>
        <li>Articles</li>
        <li>Commentaires</li>
        <li>Admin</li>
        <li>Login</li>
        <li>A propos</li>
    </nav>
    <div class="content">
{% block content %}
{% endblock %}
</div>
<script>
    document.querySelector(".clique").addEventListener("click", function(e){
        e.preventDefault();
        this.classList.toggle("active")
        document.querySelector(".nav-bar").classList.toggle("hidden-responsive")
    })
</script>
</body>
</html>